
container_commands:
  01_get_configuration_file:
    command: |
      PYTHONPATH='' aws s3 cp s3://diablo-deploy-configs/diablo/course_capture_pilot.json config/course_capture_pilot.json
      PYTHONPATH='' aws s3 cp s3://diablo-deploy-configs/diablo/${EB_ENVIRONMENT}.py config/production-local.py
      printf "\nEB_ENVIRONMENT = '${EB_ENVIRONMENT}'\n\n" >> config/production-local.py
      chown wsgi config/production-local.py config/course_capture_pilot.json
      chmod 400 config/production-local.py config/course_capture_pilot.json
