#light a {
  color: #f04a00;
}

#light a:hover {
  color: #ff8900;
}

#light a:active {
  color: #b83900;
}

#light td,
#light th {
  border-bottom-color: #979797;
}

#light .v-card--outlined {
  border-color: #979797;
}
