a {
  color: #f04a00;
  text-decoration: none !important;
}

a:hover {
  color: #ff8900;
  text-decoration: none !important;
}

a:active {
  color: #b83900;
  text-decoration: none !important;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
