a {
  color: #f04a00 !important;
  text-decoration: none !important;
}
a:hover {
  color: #ff8900 !important;
}
a:active {
  color: #b83900 !important;
}
abbr {
  text-decoration: none !important;
}
.border-bottom-zero {
  border-bottom: 0 !important;
}
.linked-icon {
  color: #f04a00 !important;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.sr-skip {
  speak: none;
}
.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}
